.App {
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.App.dark {
  background-color: #1a1a1a;
  color: #f0f0f0;
}

.App.light {
  background-color: #f0f0f0;
  color: #1a1a1a;
}

.theme-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #333;
  color: #f0f0f0;
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-toggle:hover {
  background-color: #555;
}

.sref-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
}

.sref-card {
  border: 1px solid #444;
  margin: 10px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  background-color: #2a2a2a;
  border-radius: 10px;
  transition: transform 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
}

.sref-card.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.sref-card:hover {
  transform: scale(1.05);
}

.sref-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.tag {
  background-color: #61dafb;
  color: white;
  padding: 2px 5px;
  margin: 2px;
  border-radius: 3px;
}

.App.light .sref-card {
  background-color: #f0f0f0;
  color: #1a1a1a;
}
